<template>
    <div class="container">
        <div class="row justify-content-center">
            <FriendList :friends="this.friends" @selectFriend="handleSelectFriend" />
            <MessagesArea :selectedFriend="selectedFriend" :messages="messages" :user="user" />
        </div>
    </div>
</template>

<script>
    import FriendList from './FriendList';
    import MessagesArea from './MessagesArea';

    export default {
        data() {
            return {
                friends: [],
                selectedFriend: null,
                messages: []
            }
        },
        methods: {
            handleSelectFriend: function (friend) {
                this.selectedFriend = friend;
                this.loadMessagesFromApi();
            },
            loadMessagesFromApi() {
                axios.get('api/messages/' + this.selectedFriend.id)
                    .then((response) => {
                        this.messages = response.data;
                    });
            },
            handleIncoming: function(message) {
                if (this.selectedFriend && message.from === this.selectedFriend.id) {
                    this.messages.push(message);
                }
            }
        },
        components: { FriendList, MessagesArea },
        props: {
            user: {
                type: Object,
                required: true
            }
        },
        created: function() {
            axios.defaults.headers.authorization = 'Bearer ' + this.user.api_token;
        },
        mounted() {
            // console.log(`messages.${this.user.id}`)
            Echo.private(`messages.${this.user.id}`)
                .listen('NewMessage', (e) => {
                   this.handleIncoming(e.message);
                });
            axios.get('api/users/' + this.user.id + '/friends')
                .then((response) => {
                    this.friends = response.data;
                });
        }
    }
</script>

<style>

    .full-height {
        min-height: 60vh;
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #afaeae;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
</style>
