<template>
    <div class="col-sm-4">
        <div class="list-group-item bg-primary text-light">
            Contacts
        </div>
        <ul class="list-group friend-list">
            <li v-for="friend in friends" :key="friend.id" class="list-group-item" @click="setActive(friend)" :class="{ 'bg-light': friend === selected }">
                <div class="friends-container">
                    <img style="width: 40px; height: 40px;" src="http://via.placeholder.com/150x150" class="img-fluid rounded-circle" :alt="friend.first_name" />
                    <div class="content-heading margin-left-20">{{ friend.first_name }} {{ friend.last_name }}</div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                selected: null
            }
        },
        methods: {
            setActive: function(user) {
                this.selected = user;
                this.$emit('selectFriend', this.selected);
            },
        },
        props: {
            friends: {
                type: Array,
                default: []
            }
        },
        mounted() {
        }


    }
</script>

<style scoped>
    li {
        cursor: pointer;
    }
    .friend-list {
        /*min-height: 450px;*/
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .margin-left-20 {
        margin-left: 20px;
    }
    .friends-container {
        display: flex;
        align-items: center;
        font-size: 16px;
    }
</style>
