<template>
    <div v-if="selectedFriend" class="form-group">
        <textarea v-model="newMessage" @keydown.enter.prevent="sendMessage" class="form-control margin-top-10" rows="2"></textarea>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newMessage: '',
            }
        },
        methods: {
            sendMessage: function() {
                if (this.newMessage.length !== 0) {
                    this.$emit('sendMessage', this.newMessage);
                    this.newMessage = '';
                }
            },
        },
        mounted() {
        },
        watch: {
            selectedFriend: function(newVal, oldVal) {
                this.newMessage = '';
                if (oldVal) {
                    Echo.private(`typing.${oldVal.id}`)
                        .whisper('UserStoppedTyping', {
                            user: this.user
                        });
                }
            },
            newMessage() {
                if (this.newMessage.length === 0) {
                    Echo.private(`typing.${this.selectedFriend.id}`)
                        .whisper('UserStoppedTyping', {
                            user: this.user
                        });
                } else {
                    Echo.private(`typing.${this.selectedFriend.id}`)
                        .whisper('UserTyping', {
                            user: this.user
                        });
                }
            }

        },
        props: {
            selectedFriend: {
                type: Object,
                default: () => null
            },
            user: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>
    .margin-top-10 {
        margin-top: 10px;
    }
    textarea {
        resize: none;
    }
</style>
