<template>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header bg-primary text-light"><span>{{ selectedFriend ? selectedFriend.first_name + ' ' + selectedFriend.last_name : 'Choose friend to chat with' }}</span></div>

            <div class="card-body full-height" ref="messagesArea">
                <Messages :messages="messages" :selectedFriend="selectedFriend" :user="user" @isFriendTyping="handleIsTyping" />
            </div>
        </div>
        <MessageCreator :selectedFriend="selectedFriend" :user="user" @sendMessage="handleSendMessage" />
    </div>
</template>

<script>
    import Messages from './Messages';
    import MessageCreator from './MessageCreator';

    export default {
        data() {
            return {
                isTyping: false
            }
        },
        methods: {
            handleIsTyping: function() {
                this.scrollToBottom();
            },
            setActive: function(user) {
                this.selected = user;

                this.$emit('selectFriend', this.selected);
            },
            handleSendMessage: function(newMessage) {
                const message = {
                    to: this.selectedFriend.id,
                    message: newMessage
                };
                axios.post('api/messages', message)
                    .then((response) => {
                        this.messages.push(response.data);
                    })
                    .catch(error => {
                        console.log(error.response)
                    });
            },
            scrollToBottom: function() {
                setTimeout(() => {
                    this.$refs.messagesArea.scrollTop = this.$refs.messagesArea.scrollHeight - this.$refs.messagesArea.clientHeight;
                }, 100);
            }
        },
        watch: {
            selectedFriend(selectedFriend) {
                this.scrollToBottom();
            },
            messages(messages) {
                this.scrollToBottom();
            }
        },
        props: {
            selectedFriend: {
                type: Object,
                default: () => null
            },
            user: {
                type: Object,
                required: true
            },
            messages: {
                type: Array,
                default: () => []
            }
        },
        components: { Messages, MessageCreator },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
