<template>
    <div class="col-sm-12">
        <div v-for="message in messages" :key="message.id" @click="showMessageDate(message.id)" :class="`message-${message.from === user.id ? 'right' : 'left'}`">
            <!--<div v-if="(index !== 0 && messages[index-1].from !== message.from) || index === 0">-->
            <!--</div>-->
            <div :class="`message-${message.from === user.id ? 'sent' : 'received'}`">
                {{ message.message }}
            </div>
            <small v-if="clickedMessageDate === message.id">{{ message.created_at }}</small>

        </div>
        <div v-if="isFriendTyping">{{ selectedFriend.first_name }} is typing...</div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                clickedMessageDate: 0,
                isFriendTyping: false
            }
        },
        methods: {
            showMessageDate: function(messageId) {
                if (this.clickedMessageDate === messageId) {
                    this.clickedMessageDate = 0;
                    return;
                }
                this.clickedMessageDate = messageId;
            }
        },
        props: {
            selectedFriend: {
                type: Object,
                default: () => null
            },
            user: {
                type: Object,
                required: true
            },
            messages: {
                type: Array,
                default: () => []
            }
        },
        watch: {
            selectedFriend() {
                this.isFriendTyping = false;

                Echo.private(`typing.${this.user.id}`)
                    .listenForWhisper('UserTyping', (e) => {
                        if (e.user.id === this.selectedFriend.id) {
                            this.isFriendTyping = true;
                            this.$emit('isFriendTyping');
                        }
                    })
                    .listenForWhisper('UserStoppedTyping', (e) => {
                        this.isFriendTyping = false;
                        this.$emit('isFriendTyping');
                    });
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>
    .message-right {
        text-align: right;
        margin-left: 60%;
    }
    .message-left {
        text-align: left;
    }
    .message-sent {
        background: powderblue;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .message-received {
        background: lightgrey;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 40%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;





    }
</style>
